<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-12 col-md-8 col-lg-6">
      <h1>Alerts (<%= @messages.where(read: false).count %>)</h1>
    </div>

  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <ol class="list-group list-group">
      <% @messages.each do |message| %>
      <% dif = @from_time - message.created_at %>
        <li class="list-group-item d-flex justify-content-between align-items-start message-card">
        <div class="ms-2 me-auto">
          <div class="time"><%= distance_of_time_in_words(@from_time, @from_time + dif) %> ago</div>
          <%if message.read == false%>
            <span class="badge bg-primary rounded-pill text-primary me-3">.</span>
            <div class="ms-2 me-auto">
              <div class="fw-bold"><%= link_to message.title, message_path(message) %></div>
            </div>
          <%else%>
            <div class="ms-2 me-auto ms-5">
              <div class=""><%= link_to message.title, message_path(message) %></div>
            </div>
          <%end%>
        </div>
          <p></p>



        </li>
      <%end%>
      </ol>
    </div>

  </div>

</div>
