// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$black:#000000;
$charcoal-gray: #333333;
$maroon: #502512;
$beige: #F1D3A7;
$off-white: #EEEBDD;

$dark-grey: #425B5F;
$faded-red: #ca503f;
$faded-yellow: #E6A047;
$turqoise: #66AD9D;
$dark-green: #7B8558;
$dark-blue: #34415B;
