// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Pacifico&family=Roboto+Serif:opsz,wght@8..144,400;8..144,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,600;1,400;1,500&family=Playfair+Display:ital,wght@0,400;1,500;1,600&family=Roboto:wght@300&display=swap');
// Define fonts for body and headers
$body-font: 'Open Sans', sans-serif;
$headers-font: 'neue-kabel';
$logo-font: 'Pacifico', cursive;

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
