// Specific CSS for your home-page
.content {
  padding: 50px 50px;
  text-align: center;

  h2 {
    margin-bottom: 50px;
    font-size: 35px;
  }

  i {
    font-size: 3em;
    margin: 15px;
  }

  #icon-map {
    color: $faded-red
  }

  #icon-people {
    color: $faded-yellow
  }

  #icon-vinyl {
    color: $turqoise
  }
}
