.record-main-info {
  padding-right: 20px;
  h1 {
    font-size: 3rem;
  }
}

.year {
  font-size: 2em;
}

.record-cover {
  background-size: cover;
  height: 20vh;
  width: 20vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
  background-color: black;
}

.about {
  text-align: justify;
  text-justify: inter-word;
}

// .flex {
//   justify-content: space-between;
// 	align-items: center;
// }

.back-btn {
  float: right;
}
