<h1>Create a Booking</h1>
     <div class="container py-5">
<div class="container py-5">
  <h1 class="text-center">Book a record!</h1>
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Confirm your booking </h3>
        <br>
          <%= simple_form_for [ @record, @booking ] do |f| %>
              <%= f.date_field :pick_up_date, min: Date.today, max: Date.today + 1.week, as: :date, html5: true %>
              <%= f.date_field :return_date, as: :date, html5: true %>
              <br>
              <%= f.button :submit, class: "btn btn-ghost" %>

            <% end %>

      </div>
    </div>
  </div>
</div>
