<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
    <a href="https://en-gb.facebook.com"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
    <a href="https://uk.linkedin.com/"><i class="fab fa-linkedin"></i></a>
  </div>

    <div class="input-group form-inline">
      <%= form_tag records_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control rounded",
          placeholder: "Search for artists, albums and genres"
        %>
        <%= submit_tag "Search Records", class: "btn btn-ghost" %>
      <% end %>
    </div>

  <div class="footer">
   <i class="fa solid fa-record-vinyl"></i>
  </div>
</div>
