<div class="footer">
    <div class="footer-links">
      <a href="https://github.com/"><i class="fab fa-github"></i></a>
      <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
      <a href="https://en-gb.facebook.com"><i class="fab fa-facebook"></i></a>
      <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
      <a href="https://uk.linkedin.com/"><i class="fab fa-linkedin"></i></a>
          <ul class="footer-company">
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Contact Us</a></li>
            <li class="list-inline-item"><a href="#">Terms and Conditions</a></li>
          </ul>
    </div>
</div>
