<div class="banner">
  <div class="container">
    <div class="row">
      <div class="d-flex col-12 col-lg-6 justify-content-center align-items-start flex-column">
        <h1>Find your next favourite record</h1>
        <p>Swap records with vinyl lovers in your area and discover new music.</p>
        <a class="btn btn-ghost" href="#">Find records</a>
      </div>
      <div class="col-12 col-lg-6 align-middle d-none d-lg-block">
        <img src="https://images.pexels.com/photos/1759350/pexels-photo-1759350.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Record crate">
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="container">
    <h2>Vinyl Frontier allows you to borrow records from people who live locally to you.</h2>
    <div class="row">
      <div class="col-12 col-lg-4">
        <i class="fa-solid fa-map" id="icon-map"></i>
        <p>Search for records in your area</p>
      </div>
      <div class="col-12 col-lg-4">
        <i class="fa-solid fa-user-group" id="icon-people"></i>
        <p>Connect with fellow vinyl lovers</p>
      </div>
      <div class="col-12 col-lg-4">
        <i class="fa-solid fa-record-vinyl" id="icon-vinyl"></i>
        <p>Discover new music cheaply</p>
      </div>
    </div>
  </div>
</div>
