<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/2191013/pexels-photo-2191013.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);">
  <div class="container">
    <h1>Find your next favourite record</h1>
    <p>Swap records with vinyl lovers in your area and discover new music.</p>
    <a class="btn btn-ghost" href="#">Find records</a>
  </div>
</div>
