.btn-ghost {
  color: black;
  background-color: white;
  border: 2px solid black;
  padding: 10px 15px;
  font-weight: 600;
}

.btn-ghost:hover {
  background-color: $turqoise;
  color: white;
}

.add-btn {
  padding-left: 16px;
}

.btn-edit {
  color: black;
  background-color: #e9c89d;
  border: 2px solid black;
  padding: 10px 15px;
  font-weight: 600;
}

.btn-edit:hover {
  background-color: #E6A046;
  color: black;
}

.btn-destroy {
  background-color: #d4ada8;
  color: black;
  border: 2px solid black;
  padding: 10px 15px;
  font-weight: 600;
}

.btn-destroy:hover {
  background-color: #CA503F;
  color: antiquewhite;
}

.btn-book {
  // width: 60%;
  margin-top: 1em;
}

.btn-grey {
  color: rgb(163, 163, 163);
  background-color: white;
  border: 2px solid rgb(163, 163, 163);
  padding: 10px 15px;
  font-weight: 600;
}

.btn-grey:hover {
  color: rgb(163, 163, 163);
}


// DIFFERENT BUTTON COLOURS
.btn-turquoise {
  color: white;
  background-color: $turqoise;
  font-weight: lighter;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);


  &:hover {
    color: white;
    background-color: $faded-red;
  }
}

.btn-yellow {
  color: white;
  background-color: $faded-yellow;
  font-weight: lighter;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);


  &:hover {
    color: white;
    background-color: $faded-red;
  }
}

.btn-red {
  color: white;
  background-color: $faded-red;
  font-weight: lighter;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);


  &:hover {
    color: white;
    background-color: $turqoise;
  }
}
