// BOOKING CARD
.booking-card {
  display: flex;
  justify-content: flex-start;

  &:hover {
    color: $dark-green;
  }

  .booking-img {
    height: 72px;
    border-radius: 10px;
    margin-right: 15px;
  }

}

// RECORD CARD
.card-sub-text {
  color: $medium-gray;
  text-decoration: none;

  &:hover {
    color: $dark-green;
  }
}

.record-cards {
  display: grid;
  grid-gap: 16px;
  flex-grow: 1;
  padding: 16px;

  h2 {
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 0px;

    &:hover {
      color: $dark-green;
    }
  }

  p {
    font-size: 13px;
    margin-bottom: 0px;
  }
}

.record-card {
  border-radius: 1px;
  // box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  width: 250px;
}

.card-info {
  display: flex;
  color: black;
  flex-direction: column;
}

.card-info-bottom {
  display: flex;
  justify-content: space-between;
}

.card-artist-name {
  color: $medium-gray;
  text-decoration: none;

  &:hover {
    color: $dark-green;
  }
}
.card-actions {

}

.text-available {
  color: $dark-green;
}

.text-unavailable {
  color: $dark-green;
}

.fa-record-vinyl {
  margin-right: 0.5em;
}

// .cards {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-gap: 16px;

//   a {
//     color: black;
//     text-decoration: none; /* no underline */
//   }
// }

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .record-cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .record-cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .record-cards {
    grid-template-columns: 1fr 1fr ;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .record-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .record-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
