.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-decoration: none;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  list-style-type: none;
}

.mapboxgl-popup-content {
  h5 {
    text-align: center;
  }
}
// .map-popup-image {
//   width: 30px;
// }
