.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: 2px solid black;
  font-size: 18px;
  color: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .logo {
  font-size: 30px;
}

.input-group {
  justify-content: center;
}

.badge-notification {
  line-height: 20px !important;
  width: 20px !important;
  padding: 0 !important;
  background: #D73B3A !important;
  position: relative !important;
  top: -50px !important;
  right: -30px !important;
  border-radius: 50%;
}
