.nav-link{
  color: black;
  padding: 10px 15px;
  font-weight: 600;

  &:hover {
    color: $dark-green;
  }
}

.nav-pills .nav-link.active {
  color: white;
  background-color: $turqoise;
  text-decoration: none;
  border: 2px solid black;
}
