// .search-box {
//   padding: 4em 0;
//   background: white;
//   text-align: center;
//   border: 1px solid grey;
// }


.search-bar {
  margin: 15px;
  display: flex;
  // justify-content: center;
  // box-sizing: none;
}

.form-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-term-input {
  width: 400px;
  border-radius: 15px 0px  0px 15px;
  border: 0.3px $charcoal-gray solid;
  padding: 5px 5px 5px 25px;
}

.search-distance-input {
  width: 160px;
  border: none;
  border-top: 0.3px solid $charcoal-gray;
  border-bottom: 0.3px solid $charcoal-gray;

  padding: 5px 5px 5px 15px;
}

.submit-search {
    border: 0.3px $charcoal-gray solid;
    border-radius: 0px 15px 15px 0px;
    background-color: white;
    padding: 5px 15px;
}
