// .search-box {
//   padding: 4em 0;
//   background: white;
//   text-align: center;
//   border: 1px solid grey;
// }


.search-bar {
  margin-top: 10px;
  border: 5px solid red;
  padding: 0px
}

.form-content {
  display: flex;
  flex-direction: row;
}
